@import url("form.css");
@import url("description.css");

* {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    font-variation-settings: "wdth" 100;
}

b {
    font-weight: 500;
}

/* DEBUT NAV */
    nav {
        display: flex;
        justify-content: center;
        background-color: #809848;  
        height: 50px;
    }

    .boutonNav {
        position: relative;
        color: white;
        text-decoration: none;
        padding: 10px;
        font-size: 18px;
        transition: color 0.3s ease; /* Transition douce pour la couleur du texte */
        width: 365px;
    }

    /* DEBUT ANIMATION ELEMENTS DE NAV */
        .boutonNav::after {
            content: "";
            position: absolute;
            width: 0;
            height: 3px;
            background-color: #b5dead; /* Couleur de la ligne */
            bottom: 0; /* Place la ligne sous le texte */
            left: 50%;
            transition: width 0.4s ease, left 0.4s ease; /* Animation de la ligne */
        }

        .boutonNav:hover::after {
            width: 100%; /* La ligne s'étend à 100% de la largeur du bouton */
            left: 0; /* Déplace la ligne pour commencer à gauche */
        }

        .boutonNav:hover {
            color: #b5dead; /* Change la couleur du texte au survol */
        }
    /* FIN ANIMATION ELEMENTS DE NAV */

    .boutonNav:active {
        color: white;
        background-color: #b5dead;
    }
/* FIN NAV */

/* DEBUT CSS CODE COMMUN */
    body {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }

    header {
        display: flex;
        background-color: #442220;
        height: 150px;
        color: white;
        text-align: center;
        align-items: center;
        justify-content: center;
    }


nav {
    position: relative;
    display: flex;
    justify-content: space-around;
    background-color: #809848;  
    height: 50px;
    border-bottom: solid #442220 3px;
}

.boutonNav {
    position: relative;
    display: flex;
    color: #442220;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background-color: #809848;
    height: 100%;
    width: 100px;
}

.boutonNav:hover {
    color: #442220;
    background-color: #b5dead;
}

.boutonNav:active {
    color: white;
    background-color: #442220;
}

#indexSection  {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1800px;
}

#presentationTexte {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-top: solid #809848 2px;
    max-width: 350px;
}

#descriptionTexte { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    max-width: 350px;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid #809848 2px;
    padding: 20px;
    margin: 10px;
}

#imgdesc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 600px;
}

        .flexBoxCenterAlign {
            align-items: center;
        }

        .flexBoxSpaceEvenly {
            justify-content: space-evenly;
        }

        .flexBoxSpaceAroundJustify {
            justify-content: space-around;
        }

        .flexBoxSpaceAroundAlign {
            align-items: space-around;
        }
    /* FIN FLEXBOX */

    /* DEBUT OMBRES */
        .shadow {
            transition: box-shadow 0.3s ease-in-out;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }

        .shadow:hover {
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        }
    /* FIN OMBRES */

    /* DEBUT BOUTON */
        .bouton {
            background-color: #809848; /* Green */
            border-radius: 5px;
            border: none;
            padding: 15px 32px;
            font-size: 16px;
            color: white;
            cursor: pointer;
            text-decoration: none;
        }
        
        .bouton:hover {
            background-color: #b5dead;
        }
    /* FIN BOUTON */

    h3 {
        border-bottom: solid #809848 2px;
        padding: 10px;
        width: 90%;
    }

img {
    width: 350px;
}

.descriptionImage {
    width: 620px;
}

    hr {
        border: solid #d6d6d6  0.5px;
        width: 100%;
    }

    .icons {
        width: 4%;
        padding: 5px;
    }

    .footerText {
        text-decoration: none;
        color: white;
    }

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #2e0014;
    color: white;
}

