
td {
    width: 200px;
}

table {
    width: 600px;
}

#formMessage {
    width: 600px;
}

.alert {
    padding: 20px;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    position:absolute;
    z-index:100;
    right: 80px;
    top: 300px;
  }
  
  .alert.succes {background-color: var(--general);}
  .alert.erreur {background-color: var(--precis);}
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

@media only screen and (max-width: 990px) {
    table {
        width: 300px;
    }
    
    #formMessage {
        width: 300px;
    }

    td > a {
        width: 20px !important;
    }

    .alert {
        right: 80px;
        top: 220px;
      }
}