td {
    width: 200px;
}

table {
    width: 600px;
}

#formMessage {
    width: 600px;
}

@media only screen and (max-width: 1420px) {
    table {
        width: 300px;
    }
    
    #formMessage {
        width: 300px;
    }

    td > a {
        width: 20px !important;
    }
}