#descriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#descriptionContainer > section {
    width: 1060px;
    margin: 50px;
}

#descriptionContainer > section > figurecaption {
    width: 90%;
    margin: 20px;
}

#descriptionContainer > section > section > section > figurecaption {
    border-bottom: solid var(--precis) 2px;
    padding: 20px;
    margin: 10px;
}


@media only screen and (max-width: 1420px) {

    #descriptionContainer > section {
        width: 350px !important;
        margin: 50px !important;
    }
}
