.descriptionImage {
    width: 520px;
    height: 520px;
}

#descriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#descriptionContainer > section {
    width: 1060px;
    margin: 50px;
}

#descriptionContainer > section > figurecaption {
    width: 90%;
    margin: 20px;
}

#descriptionContainer > section > section > section > figurecaption {
    border-bottom: solid var(--precis) 2px;
    padding: 20px;
    margin: 10px;
}


@media only screen and (max-width: 850px) {

    .descriptionImage {
        width: 300px;
        height: 300px;
    }

    #descriptionContainer > section {
        width: 350px;
        margin: 50px;
    }

    nav {
        display: none !important;
    }
}
