#insertionContainer {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-self: flex-start;
    width: 30%;
    margin: 30px;
}

#formInsertionModification {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-self: flex-start;
    width: 100%;
}

input[type=text], input[type=file], input[type=password] {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


.boutonValider {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #809848; /* Green */
    border-radius: 15px;
    border: none;
    padding: 15px 32px;
    color: #442220;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.boutonValider:hover {
    background-color: #b5dead;
}

.bouton {
    display: flex;
    justify-content: center;
    background-color: #809848; /* Green */
    border-radius: 15px;
    border: none;
    padding: 15px 32px;
    width: 100px;
    color: #442220;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.bouton:hover {
    background-color: #b5dead;
}

#presentationJeu {
    height: 250px;
}

#descriptionJeu {
    height: 250px;
}

#listeDesJeux {
    display: flex;
    flex-direction: column;
    width: 70%;
}

#sectionimgdesc {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

#recherche {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#rechercherValue {
    margin: 20px;
    width: 85%;
}

.boutonRechercher {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #809848; /* Green */
    border-radius: 15px;
    border: none;
    padding: 15px 32px;
    color: #442220;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    height: 50px;
}
#formInsertionModification {
    width: 100%;
}

input[type=text], input[type=file], textarea, select {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}


.boutonValider {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--general); /* Green */
    border-radius: 5px;
    border: none;
    padding: 15px 32px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.boutonValider:hover {
    background-color: var(--precis);
}

#imageJeu {
    cursor: pointer;
}

#presentationJeu {
    height: 250px;
}

#descriptionJeu {
    height: 250px;
}

#listeDesJeux {
    display: flex;
    flex-direction: column;
    width: 70%;
}

#sectionimgdesc {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

#recherche {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#rechercherValue {
    margin: 20px;
    width: 80%;
}

.boutonRechercher {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--general); /* Green */
    border-radius: 5px;
    border: none;
    padding: 15px 32px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    height: 50px;
}

#sectionimgdesc > section {
    margin-left: 20px;
    margin-bottom: 20px;
    height: 600px;
}

@media only screen and (max-width: 1420px) {
    #sectionimgdesc > section {
        margin-left: 0;
    }
}