#insertionContainer {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-self: flex-start;
    width: 25%;
    margin: 30px;
}
@media only screen and (max-width: 1420px) {
    #insertionContainer {
        width: 100%;
    }
}