#jeuxContainer {
    max-width: 1300px;
}

#jeuxContainer > section {
    margin-left: 20px;
    margin-bottom: 20px;
    height: 650px;
}

#jeuxContainer > section > figurecaption {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-top: solid var(--precis) 2px;
    max-width: 350px;
    height: 70px;
}

#jeuxContainer > section > section > figurecaption {
    border-bottom: solid var(--precis) 2px;
    padding: 20px;
    margin: 10px;
}

#presentationTexte {
    padding: 10px;
    border-top: solid var(--precis) 2px;
    max-width: 350px;
    height: 70px;
}

#filterContainer {
    height: 450px;
    padding: 20px;
    margin-top: 82px;
}

#jeuxEtRechercheContainer {
    width: 70%;
}

@media only screen and (max-width: 990px) {

    #jeuxContainer > section {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        height: 650px;
        width: 350px;
    }

    #jeuxContainer > section > figurecaption {
        max-width: 300px;
    }

}