body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

header {
    position: relative;
    display: flex;
    background-color: #442220;
    height: 150px;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
}


nav {
    position: relative;
    display: flex;
    justify-content: space-around;
    background-color: #809848;  
    height: 50px;
    border-bottom: solid #442220 3px;
}

.bouton {
    position: relative;
    display: flex;
    color: #442220;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background-color: #809848;
    height: 100%;
    width: 100px;
}

.bouton:hover {
    color: #442220;
    background-color: #b5dead;
}

.bouton:active {
    color: white;
    background-color: #442220;
}

section  {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 352px;
}
img {
    margin: 30px;
    display: flex;
    width: 350px;
    height: 350px;
    border: solid #442220 2px;
    background-color:  #b5dead;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #2e0014;
    color: white;
}